{{#if data}}
	{{#if hidden}}
		<br>
		<div class="ws-blue pull-right">
			<small>Hidden restore stack</small>
			<span class="ws-dark-gray"><small>{{hiddenNumber}}</small></span>
		</div>
	{{/if}}
	<h2><small>Edit list</small></h2>

	{{#each data}}
		<a href="javascript:void(0)" class="ed-coord-to-edit">
			<span href="javascript:void(0)" class="pull-right ws-red ed-coord-remove-from-list">
				<small>remove from list</small>
			</span> 
			{{#if from}}
				<div class="ws-blue">
					<small>From</small>
					<span class="ws-dark-gray"><small>{{from.index}}</small></span>
				</div>
				{{#if from.lat}}
					<div class="ws-gray">
						<small>
							&nbsp<b>lat</b>: {{from.lat}} 
							<br>
							&nbsp<b>lng</b>: {{from.lng}}
						</small>
					</div>
				{{/if}}
				
				{{#if to}}
					<div class="ws-blue">
						<small>To</small>
						<span class="ws-dark-gray"><small>{{to.index}}</small></span>
					</div>
					{{#if to.lat}}
						<div class="ws-gray">
							<small>
								<b>lat</b>: {{to.lat}} 
								<br>
								<b>lng</b>: {{to.lng}}
							</small>
						</div>
					{{/if}}

					<div class="ws-blue">
						<small>Distance</small>
						<span class="ws-dark-gray"><small>{{distance}} km</small></span>
					</div>
				{{/if}}

				{{#unless to}}
					<small>You can select two markers for make a range</small>
				{{/unless}}
			{{/if}}

			{{#unless from}}
				{{#if values}}
					<div class="ws-blue">
						<small>Distance</small>
						<span class="ws-dark-gray"><small>{{distance}} {{unit}}</small></span>
					</div>
					<div class="ws-blue">
						<small>Count</small>
						<span class="ws-dark-gray"><small>{{count}}</small></span>
					</div>
				{{/if}}
			{{/unless}}
		</a>
	{{/each}}
	{{#if create}}
		<a href="javascript:void(0)" class="ws-dark-gray" id="ed-coord-new-edition">
			<h3>Click <small>to create a new edition range</small></h3>
		</a>
	{{/if}}

    {{#unless place.shared }}
    <button type="button" class="btn btn-default btn-sm btn-block save-btn" id="ed-coord-save">Save</button>
	<button type="button" class="btn btn-default btn-sm btn-block save-btn" id="ed-coord-save-as">Save as</button>
    {{/unless}}

{{/if}}
{{#unless data}}
	<div class="page-header">
		<h1>Click <small>on any marker or drag slider to start editing</small></h1>
	</div>
{{/unless}}