<ul class="list-group">
	<li class="list-group-item">
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>Latitude</th>
					<th>Longitude</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{latitude}}</td>
					<td>{{longitude}}</td>
				</tr>
			</tbody>
			<thead>
				<tr>
					<th>Power</th>
					<th>Value</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Minimum</td><td>{{powerMin}} <small>dBm</small></td>
				</tr>
				<tr>
					<td>Maximum</td><td>{{powerMax}} <small>dBm</small></td>
				</tr>
				<tr>
					<td colspan="2">
						<h5><small>Created date <b>{{createdDate}}</b></small></h5> 
					</td>
				</tr>
			</tbody>
		</table>
		<div class="captures-chart"></div>
		<div class="high-chart-tooltip">
			<p style="margin:0">default</p>
		</div>
	</li>
</ul>