<ol class="breadcrumb">
	<li><a href="#places">Places</a></li>
	<li class="active">{{place.name}}</li>
</ol>

<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default su-place-info">
			<div class="panel-body">
				<div class="su-place-info-links">
					<a href="#places/{{place.id}}/upload" class="pull-right ws-blue">
						<small>upload more samples</small>
					</a>
					<br>
					<a href="javascript:void(0)" id="download-link-place" class="pull-right ws-blue">
						<small>download place</small>
					</a>
					<br>
					<a href="javascript:void(0)" id="delete-link-place" class="pull-right ws-red">
						<small>delete</small>
					</a>
				</div>
				<br>
				<br>
				<h2 class="col-md-12">{{place.name}}</h2>
				<table class="table table-striped">
					<tr>
						<td>Total number of samples</td>
						<td>{{place.numberCoordinates}}</td>
					</tr>
					<tr>
						<td>Total distance</td>
						<td>{{place.totalDistance}} <small><b>km</b></small></td>
					</tr>
					<tr>
						<td>Total number of frequencies</td>
						<td>{{place.numberPowerFrequency}}</td>
					</tr>
					<tr>
						<td>Range of frequencies</td>
						<td>[{{place.frequencyMin}}-{{place.frequencyMax}}] <small><b>MHz</b></small></td>
					</tr>
					<tr>
						<td>Minimum power</td>
						<td>{{place.powerMin}} <small><b>dBm</b></small></td>
					</tr>
					<tr>
						<td>Maximum power</td>
						<td>{{place.powerMax}} <small><b>dBm</b></small></td>
					</tr>
					<tr>
						<td>Average power</td>
						<td>{{place.powerAvg}} <small><b>dBm</b></small></td>
					</tr>
					<tr>
						<td>Standard deviation of power</td>
						<td>{{place.sdPowerAvg}} <small><b>dBm</b></small></td>
					</tr>
					{{#if bands }}
						<tr>
							<td colspan="2">
								<label for="frequency-bands">Frequency bands</label>
								<input class="form-control" id="frequency-bands" type="hidden" />
							</td>
						</tr>
					{{/if}}
					{{#if place.frequenciesChannelWidth}}
						<tr>
							<td colspan="2">
								<label for="allocation-channel">Channel width</label>
								<input class="form-control" id="allocation-channel" type="hidden" />
							</td>
						</tr>
					{{/if}}
				</table>

				<button id="su-edit-place" class="btn btn-success btn-xs btn-block btn-without-corners" type="button">
					Edit place
				</button>
			</div>
			<div class="panel-footer">
				<h5 class="pull-right"><small>last update <b>{{place.friendlyDate}}</b></small></h5> 
				<br>
			</div>
		</div>
	</div>

	<div class="col-md-8">
		<div id="su-coord-markers-map" style="height:450px;"></div>
		<div id="su-selected-coordinate-map">
			<div class="page-header" style="text-align:center">
					<h1>Click <small>on any marker will get info of the sample</small></h1>
			</div>
		</div>
	</div>
</div>